<!DOCTYPE html>
<html>
<head>
	<title>Rockhounding</title>
</head>
<body>
	<header>
	<h1>Edit your post</h1>
		<ul>
			<li>
				<a href="/">Home</a>
			</li>
		</ul>
	</header>
	
	<main>

	  <form action="/posts/<%=post._id%>?_method=PUT" method="post">
		<input type='text' name='title' value='<%=post.title%>'><br>
		<input type="text" name="location" value='<%=post.location%>'><br>
		<input type='text' name='IMG' value='<%=post.IMG%>'><br>
		<input type='textarea' name='body' value='<%=post.body%>'><br>
		<input type="submit" value="Update Post"/>
	  </form>
	</main>

</body>
</html>